$shadowSizzleShadow: 0 30px 30px -30px rgba(20,30,43,0.16);  
$shadowSoftSizzleShadow: 0 20px 20px -20px rgba(20,30,43,0.1);  
$shadowReverseSizzleShadow: 0 -10px 30px -16px rgba(20,30,43,0.06);  
$shadowSoftShadow: 0 6px 14px 0 rgba(20,30,43,0.06);  
$shadowMildShadow: 0 8px 24px 0 rgba(20,30,43,0.08);  
$shadowMediumShadow: 0 6px 16px 0 rgba(20,30,43,0.1);  
$shadowSpicyShadow: 0 4px 8px 0 rgba(20,30,43,0.12);  
$shadowLeftShadow: -15px 0 20px 0 rgba(20,30,43,0.06);  
