
.typographyGeneralBodyBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyBoldList 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLong 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLongBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodyLongBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralBodyBodySmallCta 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralSmallSmall 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralSmallSmallBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralTinyTiny 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralTinyTinyBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralAdditionalSubscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralAdditionalSuperscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyGeneralAdditionalBlockquoteBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 112px;
  line-height: 120px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyDesktopH6BoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyTabletH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

.typographyMobileH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyBoldList 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLong 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLongBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodyLongBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralBodyBodySmallCta 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmall 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralSmallSmallBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTiny 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralTinyTinyBoldUppercase 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalSubscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalSuperscript 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyGeneralAdditionalBlockquoteBody 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopUber 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 112px;
  line-height: 120px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH1Deprecated_ 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyDesktopH6BoldUnderlined 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyTabletH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH1 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH2 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH3 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH3Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH4 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH4Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH5 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH5Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH6 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH6Bold 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

@mixin typographyMobileH6BoldUnderline 
{ 
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em; 
  text-indent: 0px; 
}    

